body{
  margin: 0px;
  min-height: 100vh;
  background-image: url('fond_page.jpg');
}

#app{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app > main{
    flex: 1;
}

.gold-font-color{
  color: #c49a52;
}

.background-light-black{
    background-color: #221f1f;
}

.backgound-gold{
    background-color: #c49a52;
}